/* CSS issu des tutoriels www.alsacreations.com/articles */
body {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	margin: 0;
	padding: 0;
}
#header {
	height: 100px;
	background-color: #4F81BD;
}
#centre {
	background-color:#DBE5F1;
}
#pied {
	height: 30px;
	background-color: #244061
}
p {
	margin: 0;
}