/* CSS issu des tutoriels css.alsacreations.com */
body {
	margin: 0;
	padding: 0;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	background-color: #fff; /*couleur de fond blanche*/
}
.conteneur { /*le conteneur global du site, qui sera centré */
	position: relative;
	width: 750px;
	margin: 0 auto; 
}

.header {
	height: 100px;
	background-color: #4F81BD;
}
.menu {
	position: absolute;
	left:0;
	width: 150px;
	height: 300px;
	background-color:#CCCCFF;
}
.frame {
	margin-left: 150px;
	width: auto;
	height: 300px;
	background-color:#DBE5F1;
	overflow: auto;
}
.footer {
	height: 20px;
	background-color: #244061;
}
p {
	margin: 10px 10px 10px 10px;
}
.menugauche {
	list-style-type: none;
	margin: 0;
	padding:0;
}
.menugauche li {
	margin-bottom: 5px;
}
.menugauche a {
	margin: 0 2px;
	color: #000000;
	text-decoration: underline;
}
.menugauche a:hover {
	text-decoration: none;
}