/* CSS issu des tutoriels css.alsacreations.com */
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	margin: 0;
	padding: 0;
}
#conteneur {
	width: 750px;
	margin: 0 auto; 
}
#header {
	height: 50px;
	background-color: #4F81BD;
}
#haut {
	height: 30px;
	background-color:#CCCCFF;
}
#centre {
	background-color:#DBE5F1;
}

#pied {
	height: 30px;
	background-color: #244061;
}

.menuhaut {
	list-style-type: none;
	margin: 0;
	padding:0;
}
.menuhaut li {
	display: inline;
}
.menuhaut a {
	margin: 0 2px;
	color: #000000;
	text-decoration: underline;
}
.menuhaut a:hover {
	text-decoration: none;
}
p {
	margin: 0 0 10px 0;
}