/* CSS issu des tutoriels css.alsacreations.com */
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	margin: 0;
	padding: 0;
}
#header {
	height: 50px;
	background-color: #4F81BD;
}
#haut {
	height: 30px;
	background-color:#CCCCFF;
}
#conteneur {
	position: relative;
	width: 750px;
	margin: 0 auto; 
	background-color:#CCCCFF;
}
#centre {
	background-color:#DBE5F1;
	margin-left: 150px;
	margin-right: 150px;
}
#gauche {
	position: absolute;
	left:0;
	width: 150px;
}
#droite {
	position: absolute;
	right:0;
	width: 150px;
}
#pied {
	height: 30px;
	background-color: #244061;
}

.menuhaut {
	list-style-type: none;
	margin: 0;
	padding:0;
}
.menuhaut li {
	display: inline;
}
.menuhaut a {
	margin: 0 2px;
	color: #000000;
	text-decoration: underline;
}
.menuhaut a:hover {
	text-decoration: none;
}
.menugauche {
	list-style-type: none;
	margin: 0;
	padding:0;
}
.menugauche li {
	margin-bottom: 5px;
}
.menugauche a {
	margin: 0 2px;
	color: #000000;
	text-decoration: underline;
}
.menugauche a:hover {
	text-decoration: none;
}
.menudroit {
	list-style-type: none;
	margin: 0;
	padding:0;
}
.menudroit li {
	margin-bottom: 5px;
}
.menudroit a {
	margin: 0 2px;
	color: #000000;
	text-decoration: underline;
}
.menudroit a:hover {
	text-decoration: none;
}
p {
	margin: 0 0 10px 0;
}